<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujiuye.cust.dao.CustomerMapper">


    <select id="search" resultType="com.ujiuye.cust.bean.Customer">
         select *
         from customer
         where
           <if test="cid == 0">
               companyperson like '%${keyword}%' or comname like '%${keyword}%'
           </if>
            <if test="cid == 1">
                comname like '%${keyword}%'
            </if>
            <if test="cid == 2">
                companyperson like '%${keyword}%'
            </if>
            <if test="orderby == 1">
                order by id desc
            </if>
    </select>


     <insert id="saveInfo" >
         insert into customer values(null,#{comname},#{companyperson},#{comaddress},#{comphone},#{camera},#{present},#{remark},#{addtime})
     </insert>

    <select id="getCustomerList" resultType="com.ujiuye.cust.bean.Customer">
      select * from customer
    </select>

    <select id="getCustomerInfoById" resultType="com.ujiuye.cust.bean.Customer">
      select * from customer where id = #{cid}
    </select>
    <update id="updateCustomerInfo">
        update customer set comname=#{comname}, companyperson=#{companyperson},comaddress=#{comaddress},comphone=#{comphone},camera=#{camera},present=#{present},remark=#{remark} where id = #{id}
    </update>

    <delete id="batchDelete">
        delete from customer where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>